<style>
  #sidebarMenu{
    background-image: url(/img/background_2.jpg);
    background-size: 1980px;
  }
</style>

<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"><br><br><br>

  <div class="position-sticky pt-3 sidebar-sticky">
    <h3>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">
            <i class="bi bi-journal-bookmark"></i>
            สมุดบันทึก
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">
            <i class="bi bi-patch-question"></i>
            เกี่ยวกับ
          </a>
        </li>
      </ul>
    </h3>
  </div>
</nav>