<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">เกี่ยวกับเว็บ</h1>
</div>

<div class="pt-3">
  <p>
  <h4>
    มินิโปรเจคเว็บนี้ถูกจัดทำขึ้นเพื่อ ฝึกทักษะด้าน Web Programing โดยมีหัวข้อการทำโปรเจคว่าต้องระบบ Create, Read,
    Update และ Delete
    ซึ่งผู้จัดทำได้เสนอทำโปรเจคที่มีชื่อว่า “เว็บไซต์บันทึกรายรับรายจ่ายส่วนตัว” เป็นเว็บไซต์อย่าง่ายที่สามารถบันข้อมูล
    วัน/เดือน/ปี และรายละเอียดต่างๆ ลงบนหน้าเว็บได้
    และผู้ใช้การยังสามารถแก้ไขรายการ หรือลบรายการได้อีกด้วย</h4>
  </p>
</div>

<div class="d-flex justify-content-center">
  <img src="img/me.jpg" alt="Laptop" width="316" height="316">
</div>
<p style="text-align: center;">รูปผู้จัดทำ</p>

