<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">บันทึกรายรับ-รายจ่าย</h1>
  <div class="btn-toolbar mb-2 mb-md 0">
  </div>
</div>

<div class="col py-3">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">สมุดบันทึก</a></li>
          <li class="breadcrumb-item active">รายการใหม่</li>
        </ol>
      </nav>
    </div>
  </div>

</div>


<form action="/add" method="POST">

  <div class="row form-group mb-4">
    <div class="col">
      <label for="day">วันที่</label>
      <input type="text" class="form-control" id="day" name="day" value="" placeholder="วันที่" required>
    </div>

    <div class="col">
      <label for="month">เดือน</label>
      <input type="text" class="form-control" id="month" name="month" value="" placeholder="เดือน" required>
    </div>
  </div>
  
  <div class="row form-group mb-4">
    <div class="col">
      <label for="year">ปี</label>
      <input type="text" class="form-control" id="year" name="year" value="" placeholder="ปี" required>
    </div>
    
    <div class="col">
      <label for="01"></label>
    </div>
  </div>

  <div class="form-group mb-4">
      <label for="details">รายละเอียดรายรับ-รายจ่าย</label>
      <textarea class="form-control" name="details" id="details" cols="30" rows="12" placeholder="(รายการ) xxx บาท,(รายการ) xxx บาท, ... "></textarea>
  </div>

  <div class="form-group mb-4">
    <button type="submit" class="btn btn-primary">เพิ่มรายการ</button>
  </div>
</form>